@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}



body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", "Roboto", sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  background-color: #FFFFFF;
  color: #000000;
  outline: 5px solid green;
  outline-offset: -5px;
}


.button,
.link-selected {
  background-color: #756157;
  color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  border-radius: 4px;
  padding: 9px 15px 8px;
  cursor: pointer;
  display: inline-block;
}


.button-additional {
  background-color: #82B3D3;
  color: #FFFFFF;
  border-radius: 4px;
}

.button-selected {
  background-color: #7DB54F;
  color: #FFFFFF;
  border-radius: 4px;
}


.page-header {
  display: flex;
}

.navigation {
  display: flex;
  flex-wrap: nowrap;
  margin-right: auto;
  padding: 0%;
}



.navigation-logo {
  position: relative;
  z-index: 1;
  width: 139px;
  margin-left: 70px;
}


.navigation-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navigation-user {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin-right: 70px;
  align-items: flex-end;
}

.navigation-link {
  display: block;
  padding: 20px 17px;
  flex-wrap: wrap;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  color: inherit;
  min-width: 18px;
  min-height: 18px;
}

.hero {
  width: 1200px;
  height: 485px;
  background-image: url("../images/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: #FFFFFF;
  color: #000000;
  display: block;
  margin: 0 auto;
  padding-top: 51px;
  padding-bottom: 82px;
  text-align: center;
  align-items: center;
}

.main-hero-description {
  width: 1200px;
  height: 282px;
  display: block;
  margin: 0 auto;
  text-align: center;
  padding-top: 63px;
  padding-bottom: 90px;
}

.main-hero-title {
  text-transform: uppercase;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  margin: 0;
  padding: 0;

}

.advantages-list {
  text-align: center;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style-type: none;
}

.advantages-title {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 28px;
}

.advantages-description {
  margin: 0;
  font-size: 18px;
  line-height: 21px;
}

.advantages-number {
  font-size: 18px;
  line-height: 21px;
}

.advantages-item {
  width: 400px;
  height: 384px;
}


.advantages-item-city {
  width: 100%;
  display: flex;
  background-color: #82B3D3;
  color: #FFFFFF;
}


.advantages-item-hotel {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 400px;
  padding: 80px 85px 81px;
  box-sizing: border-box;
  background: rgba(131, 179, 211, 0.12);
  background-image: url("/images/advantage-house.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: 41px;
  background-color: #83B3D31F;
  color: #333333;
}

.advantages-item-food {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 400px;
  padding: 80px 85px 81px;
  box-sizing: border-box;
  background-image: url("/images/advantage-food.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: 41px;
}

.advantages-item-souvenirs {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 400px;
  padding: 80px 85px 81px;
  box-sizing: border-box;
  background: rgba(131, 179, 211, 0.12);
  background-image: url("/images/advantage-souvenir.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: 41px;
  background-color: #83B3D31F;
  color: #333333;
}

.advantages-item-bridge {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  background-color: #82B3D3;
  color: #FFFFFF;
}

.advantages-item-size {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 400px;
  padding: 103px 85px 102px;
  box-sizing: border-box;
  background-color: #83B3D31F;
  color: #333333;
}

.advantages-item-road {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 400px;
  padding: 103px 85px 102px;
  box-sizing: border-box;
  background-color: #83B3D333;
  color: #333333;
}

.advantages-item-tourists {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 400px;
  padding: 103px 85px 102px;
  box-sizing: border-box;
  background-color: #83B3D31F;
  color: #333333;
}


.hotel-search {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 91px;
  padding-bottom: 93px;
}

.hotel-search-title {
  font-size: 30px;
  line-height: 36px;
}

.newsletter {
  width: 1200px;
  height: 411px;
  color: #FFFFFF;
  background-image: url("../images/subscribe-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  text-align: center;
}

.newsletter-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 800px;
  height: 223px;
  padding: 94px 200px;
}


.subcription-title {
  text-transform: uppercase;
  font-size: 30px;
  line-height: 36px;
}

.contacts-phone {
  color: #000000;
  font-size: 40px;
  line-height: 40px;
}

::placeholder {
  font-size: 18px;
  line-height: 21px;
}

/* catalog */

.catalog-filter {
  width: 1200px;
  height: 393px;
  background-image: url("../images/filter-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  color: #FFFFFF;
  margin-bottom: 5px;
  padding: 35px 70px 70px;
}

.inner-header-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}

.breadcrumbs {
  display: flex;
  font-size: 16px;
  line-height: 21px;
  list-style-type: none;
}




.hotel-filter {
  display: flex;
  flex-direction: row;
}

.hotel-search-sorting {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}

.hotel-filter-title {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
}

.hotel-filter-item {
  list-style: none;
}

.control-input {
  font-size: 18px;
  line-height: 21px;
}

.select-control {
  display: flex;
  font-size: 18px;
  line-height: 21px;
}

.catalog-filter-view {
  display: flex;
  width: 48px;
  height: 48px;
}


.catalog-hotels {
  display: flex;
  flex-direction: row;
}




.hotels-container {
  display: flex;
  flex-wrap: wrap;
  width: 1046px;
  padding: 20px;
}


.hotel-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 20px;
  width: 340px;
  height: 438px;
}



.hotel-card-name {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
}

.hotel-card-description {
  font-size: 18px;
  line-height: 21px;
}


.hotel-wrap {
  display: flex;
  justify-content: space-between;

}

.hotel-card-price {
  font-size: 18px;
  line-height: 21px;
}



.hotel-card-rating {
  font-size: 16px;
  line-height: 20px;
}


.hotel-card-image {
  margin-bottom: 16px;
}


.pagination {
  display: flex;
  list-style-type: none;
}

.pagination-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  color: #ffffff;
  background-color: #82B3D3;
  text-decoration: none;
  text-align: center;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
}


.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
  text-decoration: none;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
}


.pagination-label {
  font-size: 18px;
  line-height: 21px;
}


.page-container {
  margin: 0 auto;
  width: 1200px;
}

html {
  height: 100%;
}

.main-container {
  flex-grow: 1;
}




.social {
  width: 116px;
  margin-right: 247px;
}


.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer-social-item {
  width: 18px;
  height: 17px;
  margin-right: 26px;
}

.page-footer {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  padding: 40px 70px 30px;
}

.footer-phone-number {
  width: 720px;
}

.footer-contacts-logo {
  width: 115px;
  margin-left: auto;
}






.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}




.footer-social-item:nth-child(1) {
  background-image: url(../images/social-vk.svg);
  background-repeat: no-repeat;
  background-position: center;
}
