@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}



body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", "Roboto", sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  background-color: #FFFFFF;
  color: #000000;
  outline: 5px solid green;
  outline-offset: -5px;
}


.button,
.link-selected {
  background-color: #756157;
  color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
}

.button-additional {
  background-color: #82B3D3;
  color: #FFFFFF;
}

.button-selected {
  background-color: #7DB54F;
  color: #FFFFFF;
}

.navigation-logo {
  width: 139px;
  margin-left: 70px;
}


.navigation-link {
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  color: inherit;
}

.navigation-list {
  margin: 0;
  padding: 0;
}

.hero {
  width: 1200px;
  height: 767px;
  background-image: url("../images/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: #FFFFFF;
  color: #000000;
  display: block;
  margin: 0% auto;
}

.main-hero-title {
  text-transform: uppercase;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  margin: 0;
  padding: 0;
}

.advantages-list {
  text-align: center;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.advantages-title {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 28px;
}

.advantages-description {
  font-size: 18px;
  line-height: 21px;
}

.advantages-number {
  font-size: 18px;
  line-height: 21px;
}

.advantages-item {
  width: 400px;
}

.advantages-item-illustrated {
  display: flex;
  background-color: #82B3D3;
  color: #FFFFFF;
}

.advantages-item-background-1 {
  background-color: #83B3D31F;
  color: #333333;
}

.advantages-item-background-2 {
  background-color: #83B3D333;
  color: #333333;
}



.hotel-search-title {
  font-size: 30px;
  line-height: 36px;
}

.newsletter {
  width: 1200px;
  height: 411px;
  color: #FFFFFF;
  background-image: url("../images/subscribe-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  text-align: center;
}



.subcription-title {
  text-transform: uppercase;
  font-size: 30px;
  line-height: 36px;
}

.contacts-phone {
  color: #000000;
  font-size: 40px;
  line-height: 40px;
}

::placeholder {
  font-size: 18px;
  line-height: 21px;
}

/* catalog */

.catalog-filter {
  width: 1200px;
  height: 393px;
  background-image: url("../images/filter-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  color: #FFFFFF;
}

.inner-header-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}

.breadcrumbs {
  font-size: 16px;
  line-height: 21px;
}

.hotel-filter-title {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
}

.control-input {
  font-size: 18px;
  line-height: 21px;
}

.select-control {
  font-size: 18px;
  line-height: 21px;
}

.hotel-card-name {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
}

.hotel-card-description {
  font-size: 18px;
  line-height: 21px;
}

.hotel-card-price {
  font-size: 18px;
  line-height: 21px;
}


.hotel-card-rating {
  font-size: 16px;
  line-height: 20px;
}


.pagination-link {
  color: #ffffff;
  background-color: #82B3D3;
  text-decoration: none;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
}



.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
  text-decoration: none;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
}


.pagination-label {
  font-size: 18px;
  line-height: 21px;
}


.page-container {
  margin: 0% auto;
  width: 1200px;
}

html {
  height: 100%;
}

.main-container {
  flex-grow: 1;
}

.navigation {
  display: flex;
  width: 390px;
  margin-right: auto;
  padding: 0%;
}

.navigation-user {
  display: flex;
  max-width: 264px;
  margin-left: auto;
}

.page-footer-container {
  display: flex;
  width: 1200px;
  margin: 0% auto;
}

.social {
  width: 116px;
  margin-right: 247px;
}

.footer-phone-number {
  width: 720px;
}

.footer-contacts-logo {
  width: 115px;
  margin-left: auto;
}


.hotels-container {
  display: flex;
  width: 1200px;
}

.hotel-card {
  width: 340px;
}
